$secondary-color: #000;
$primary-color: #1DB954;
$primary-text-color: #fff;

$home-primary-color: #DCD4EA;
$home-secondary-light: #6D4DA9;
$home-secondary-color: #2E0084;

$light-green: #1ED760;
$white: #fff;
$grey: #282828;
$black: #000;

