{
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }],
    "indent": [2, 2]
  }
}